<!DOCTYPE html>
<html ng-app="myPerformance">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myPerformance</title>
    <!-- Angular Core Framework References -->
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-animate.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <script src="Scripts/angular-route.js"></script>

    <!-- Angular App references -->
    <script src="app/app.js"></script>
    <script src="app/services/activityService.js"></script>
    <script src="app/services/formatterService.js"></script>
    <script src="app/services/strategyService.js"></script>
    <script src="app/controllers/activityController.js"></script>
    <script src="app/controllers/newActivityController.js"></script>

    <!-- Styling References -->
    <link href="Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
    <link href="Content/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <!-- NavBar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">myPerformance</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <!--<ul class="nav navbar-nav navbar-right">
                    <li><a href="#">View Activity</a></li>
                </ul>-->
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div class="row" ng-controller="activityController as activity" style="margin-top: 20px;">
            <div id="newActivityWrapper">
                <button ng-click="activity.addActivity()" class="btn btn-success" style="margin-top: 20px;">
                    Record New Activity <i class="fa fa-plus"></i>
                </button>
            </div>

            <!-- Modal Template -->
            <div ng-include="'app/views/newActivity.html'"></div>

            <hr />
            <div class="activities">
                <div class="activity col-sm-12" ng-repeat="act in activity.activities | orderBy: 'date': reverse">
                    <div class="strategyValue col-sm-12 col-md-2">
                        <h4>{{act.strategyValue}}{{act.id}}</h4>
                        <i>{{act.date | date: 'yyyy-MM-dd'}}</i>
                    </div>
                    <div class="description col-sm-12 col-md-9">
                        <span>{{act.description}}</span>
                    </div>
                    <div class="toolbar col-sm-12 col-md-1">
                        <div class="btn btn-group col-sm-12">
                            <button class="btn btn-xs pull-right btn-danger" style="border-radius: 50%;" ng-click="activity.deleteActivity(act)">
                                <i class="fa fa-remove"></i>
                            </button>
                            <!--<button class="btn btn-xs pull-right btn-warning" style="border-radius: 50%; margin-right: 2px;">
                                <i class="fa fa-edit"></i>
                            </button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap UI -->
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!-- Firebase and AngularFire references -->
    <script src="Scripts/firebase.js"></script>
    <script src="Scripts/angularfire.min.js"></script>
</body>
</html>
